# Ejecutables
facdes_solver
build/facdes_solver
*.exe

# Archivos objeto
*.o
build/*.o

# Archivos de salida
*.dat
output/*.dat
!test/**/*.dat
!reports/**/*.dat

# Directorios de compilación
build/
*.dSYM/

# Editor y IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Temporales
*.tmp
*.bak
*.log
__pycache__/
*.pyc

# Archivos de depuración
vgcore.*
core
core.[0-9]*

# Carpetas auxiliares
aux/
aux_code/
resultados_barrido/

# LaTeX build artifacts
*.aux
*.out
*.toc
*.synctex.gz

# Copyrighted Scanned Figures and Reference Materials
test/Referencias/
test/Referencias/**
test/data_Monte_Carlo_Simulations/**/*.png
test/**/*.png


# Private Local Development History
History.md

